body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

#game{
    position: relative;
    margin:0 auto;
    width:100%;
    height: 500px;
}
#container{
    position: absolute;
    width:400px;
    height:400px;
    left: 20px;
    top:50px;
}
.cell{
    position: absolute;
    -webkit-background-image: url("pic1.jpg");

    background-image: url("pic1.jpg");
    background-size: 400px 400px;
    background-color: rgba(24,26,52,0.77);
    color: rgba(244,246,255,0.64);
    -webkit-text-stroke: 1px white;

    box-shadow: #777777 1px 1px 2px;
    width:99px;
    height:99px;
    text-align: center;
    font-size: 75px;

    cursor: pointer;
    -webkit-transition: 0.3s;/*浏览器前缀，兼容其他浏览器 chrome*/
    -moz-transition: 0.3s;/*firefox*/
    -ms-transition: 0.3s;/*ie*/
    -o-transition: 0.3s;/*opera*/
    transition: 0.3s;

}
.cell:hover{
    background-color: #181a34;
    color: #ffe171;
    height: 100px;
    width: 100px;
}
#c1{left: 0px;
}
#c2{left:100px;background-position: -100px 0px;}
#c3{left:200px;background-position: -200px 0px;}
#c4{left:300px;background-position: -300px 0px;}
#c5{left:0px; top:100px;background-position: 0px -100px; }
#c6{left:100px; top:100px;background-position: -100px -100px;}
#c7{left:200px; top:100px;background-position: -200px -100px;}
#c8{left:300px; top:100px;background-position: -300px -100px;}
#c9{left:0px;top:200px;background-position: -0px -200px;}
#c10{left:100px;top:200px;background-position: -100px -200px;}
#c11{left:200px;top:200px;background-position: -200px -200px;}
#c12{left:300px;top:200px;background-position: -300px -200px;}
#c13{left:0px;top:300px;background-position: 0px -300px;}
#c14{left:100px;top:300px;background-position: -100px -300px;}
#c15{left:200px;top:300px;background-position: -200px -300px;}

#new{
    left:160px;
    width:120px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top:500px;
    margin:0 auto;
    border-radius: 4px;
    background-color: #181a34;
    box-shadow: #777777;
    color: aliceblue;

}
#inner{
    height:40px;
    border-radius: 4px;
    background-color: #8d9eb2;
}
#new:hover{
    height: 45px;
    top:505px;
}
#finish{
    position: absolute;

    background-color: rgba(24,26,52,0.77);
    color: rgba(255,255,255,0.8);
    opacity: 0.75;
    line-height: 100px;


    box-shadow: #777777 1px 1px 2px;
    width:99px;
    height:99px;
    text-align: center;
    font-size: 15px;
    left:300px;top:300px;
    display: none;
    -webkit-transition: 0.3s;/*浏览器前缀，兼容其他浏览器 chrome*/
    -moz-transition: 0.3s;/*firefox*/
    -ms-transition: 0.3s;/*ie*/
    -o-transition: 0.3s;/*opera*/
    transition: 0.3s;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 2s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }

    100% {
        opacity: 0.75; /*结尾状态 透明度为1*/
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }

    100% {
        opacity: 0.75; /*结尾状态 透明度为1*/
    }
}
